body {
  background-image: url("../public/lots-pages.jpg");
  background-size:100%;
  background-attachment:fixed;
  background-color:#704214;
  background-blend-mode:luminosity;
  
  font-family: "Roboto", sans-serif;
  color: rgb(68, 48, 21);
}

.container {
  max-width: 750px;
}

.spinner {
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

@media (max-width: 992px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  h1 {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .Head {
    padding: 30px;
  }
  .input-group {
    max-width: 350px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 350px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .Head {
    padding: 20px;
  }
  section {
    padding: 10px 20px 20px;
  }
  body {
    font-size: 14px;
  }

  .input-group {
    max-width: 280px;
  }
  h2 {
    font-size: 30px;
  }
}