.Photos {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -10px;
}
.pexels {
  flex: 33%;
}

.pexels img {
  border-radius: 10px;
  margin: 10px;
  width: 95%;
}

@media (max-width: 768px) {
  .pexels {
    flex: 50%;
  }
}
