h2 {
  font-size: 36px;
}

p {
  margin-bottom: 0;
}

ol {
  padding-left: inherit;
  margin-bottom: 0;
}
.playButton {
  font-size: 40px;
  padding-right: 5px;

  position: relative;
  top: 8.5px;
}

.playButton:hover {
  cursor: pointer;
}
.example {
  display: block;
  opacity:0.8;
}
